/* Set min-height to avoid page reflow while session loading */
.signedInStatus {
  min-height: 0rem;
  width: 100%;
}

.loading,
.loaded {
  position: relative;
  opacity: 1;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0rem .4rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease-in;
}

.loading {
  top: 0rem;
  opacity: 0;
}

.signedInText,
.notSignedInText {
  position: absolute;
  top:.06rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  z-index: 1;
}

.signedInText {
  padding-top: 0rem;
  left: 1rem;
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.button,
.buttonPrimary {
  float: right;
  font-weight: 600;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  color: #555;
  z-index: 10;
}

.buttonPrimary {
  background-color: #5548d9;
  border-color: #5548d9;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
}

.buttonPrimary:hover {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.2);
}

